@import "tailwindcss";
/* TODO: import fonts */
@font-face {
  font-family: "Museo Slab";
  src: url("/fonts/Museo_Slab_500.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bg-color: rgb(5, 91, 166);
  --color-fg-color: rgb(61, 155, 233);
  --color-accent-color: rgb(255, 192, 58);
  --font-text: "Museo Slab", serif;
  --font-header: Poppins, sans-serif;
}

html {
  font-family: "Museo Slab", serif;
}
button,
a {
  cursor: pointer;
}
